body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}

.logoContainer {
  background-color: #ffc048;
}

.subtext {
  color: #777;
  font-size: 7pt;
}

h3 {
  line-height: 1.4em;
  font-weight: normal;
  font-size: 10pt;
  margin: 0;
}

.story {
  margin-bottom: 10px;
}

.stories {
  background-color: rgb(246, 246, 239);
  padding: 10px 30px;
}

.stories li {
  margin-bottom: 10px;
}
